*{
    margin: 0px;
    padding: 0;

}
body{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}
.container{
    padding: 0 0 34px 0;
    background-color: white;
    width: 400px;
    border:1px solid grey;
    border-radius: 7px;
    margin: 4px;
}
.image{
   padding: 5px;
}
.image img{
    border-radius: 7px;
}
.tabs{
    padding: 0 28px 0 14px;
}
.tabs span{
    border: 1px solid grey;
    font-size: 8px;
    padding : 0 6px;
    border-radius: 7px;
}
.conten{
    padding :5px;
}
.content p{
    font-size: 9px;
    color: gray;
}
.button{
    text-align: center;
}
.button button{
            padding: 7px 15px;
            border-radius: 15px;
            background-color: rgb(216, 236, 253);
            color: rgb(14, 150, 234);
            font-size: 10px;
            margin-top: 7px;
            border: none;
            font-weight: bold;
            cursor: pointer;
}

.button button:hover{
            background-color: rgb(194, 225, 246);
            color: rgb(10, 136, 214);
        }

